body {
    background-color: white;
}

header .links a:hover{
    background-color: grey;
    font-size:18px;
    border: dashed;
    text-align: center;

}

.content {
    background-color: #fff;
}

footer {
    background-color: lightgrey;
}

#logo {
    text-align: center;

}